<h1>Create a new Event</h1>
<form #createEventForm="ngForm" (ngSubmit)="createEvent(createEventForm.value)" autocomplete="off">

  <div class="form-row">
    <div class="form-group col-12 col-sm-8">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter title" name="title" ngModel required minlength="5" #title="ngModel" [ngClass]="{ 'is-valid': title.valid && title.dirty, 'is-invalid': title.invalid && title.dirty }">
      <small id="titleHelp" class="form-text text-muted" *ngIf="title.pristine">Something catchy</small>
      <div *ngIf="title.errors?.required && title.dirty" class="invalid-feedback">
        The title is required
      </div>
      <div *ngIf="title.errors?.minlength && title.dirty" class="invalid-feedback">
        The title has to be at least <b>{{title.errors?.minlength.requiredLength}}</b> characters long. You gave us {{title.errors?.minlength.actualLength}}
      </div>
      <div *ngIf="title.valid" class="valid-feedback">
        Yeah... that's a catchy title ;-).
      </div>
    </div>
    <div class="form-group col-12 col-sm-4">
      <label for="title">Event Date</label>
      <input type="date" class="form-control" id="eventDate" aria-describedby="eventDateHelp" placeholder="Enter a Date" name="eventDate" ngModel required #eventDate="ngModel" [ngClass]="{ 'is-valid': eventDate.valid && eventDate.touched, 'is-invalid': eventDate.invalid && eventDate.touched }">
      <small id="eventDateHelp" class="form-text text-muted" *ngIf="eventDate.pristine">Give the people time to join your event.</small>
      <div *ngIf="eventDate.errors?.required && eventDate.touched" class="invalid-feedback">
        The Event Date is required
      </div>
      <div *ngIf="eventDate.valid" class="valid-feedback">
        Verry good.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="title">Event Picutre URL</label>
      <input type="url" class="form-control" id="pictureUrl" aria-describedby="pictureUrlHelp" placeholder="A picture URL" name="pictureUrl" ngModel #pictureUrl="ngModel" required [ngClass]="{ 'is-valid': pictureUrl.valid && pictureUrl.dirty, 'is-invalid': pictureUrl.invalid && pictureUrl.dirty }">
      <small id="pictureUrlHelp" class="form-text text-muted" *ngIf="pictureUrl.pristine">A URL from a fancy picture in the web.</small>
      <div *ngIf="pictureUrl.errors?.required && pictureUrl.dirty" class="invalid-feedback">
        Provide a URL for a nice picture describing your event.
      </div>
    </div>
    <div class="col-12" *ngIf="pictureUrl.value && pictureUrl.valid">
      <img [src]="pictureUrl.value" class="img-thumbnail">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="title">Event Description.</label>
      <textarea class="form-control" id="shortDescription" aria-describedby="shortDescriptionHelp" placeholder="A short Description" name="shortDescription" ngModel required minlength="5" maxlength="100" #shortDescription="ngModel" [ngClass]="{ 'is-valid': shortDescription.valid && shortDescription.dirty, 'is-invalid': shortDescription.invalid && shortDescription.dirty }"></textarea>
      <small id="shortDescriptionHelp" class="form-text text-muted" *ngIf="shortDescription.pristine">A short description of your Event.</small>
      <div *ngIf="shortDescription.errors?.required && shortDescription.dirty" class="invalid-feedback">
        The short description is required
      </div>
      <div *ngIf="shortDescription.errors?.minlength && shortDescription.dirty" class="invalid-feedback">
        The short description has to be at least <b>{{shortDescription.errors?.minlength.requiredLength}}</b> characters long. You gave us {{shortDescription.errors?.minlength.actualLength}}
      </div>
      <div *ngIf="shortDescription.errors?.maxlength && shortDescription.dirty" class="invalid-feedback">
        The short description has to be at most <b>{{shortDescription.errors?.maxlength.requiredLength}}</b> characters long. You gave us {{shortDescription.errors?.maxlength.actualLength}}
      </div>
      <div *ngIf="shortDescription.valid" class="valid-feedback">
        Good. Very descriptive :-)
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="createEventForm.invalid" class="btn btn-microevents">Create Event</button>
</form>
